* {
    box-sizing: border-box;
    text-align: center;
}
  
body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.5em;
    color: #323232;
}

.title {
    font-size: 36px;
    font-weight: bold;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    color: #555;
    background: #eee;
    border-bottom: solid #ddd 10px;
}

.choiceBtn {
    width: 50%;
    margin: auto;
    margin-top: 16px
}
.choiceBtn button {
    font-size: 20px;
    font-weight: bold;
    width: 460px;
    padding: 16px;
    border: 0 none;
    margin: 8px;
    position: relative;
    color: #555;
    background: #fdb;
    border-radius: 8px;
    box-shadow: #00000080 0px 2px 4px;
}
.choiceBtn button:hover {
    color: #323232;
    background: #beb;
    box-shadow: #000000a0 0px 2px 4px;
}

.mainBtn button {
    font-size: 20px;
    padding: 16px;
    border: 0 none;
    margin: 24px 0;
    color: #555;
    background: #ccc;
    border-radius: 8px;
    box-shadow: #00000080 0px 2px 4px;
}
.mainBtn button:hover {
    color: #fff;
    background: #808080;
    box-shadow: #000000cc 0px 2px 4px;
}

.clock {
    font-size: 30px;
    width: 280px;
    margin: 0 auto;
    margin-top: 48px;
    color: #fff;
    background: #808080;
    border-radius: 8px;
}

#clock {
    padding: 20px;
}

.question {
    font-size: 24px;
    margin-top: 48px;
}

#resultChoice {
    font-size: 36px;
    font-weight: bold;
    margin-top: 24px;
}
#resultCorrect {
    font-size: 24px;
    margin-top: 24px;
}
.result img {
    max-width: 512px;
    max-height: 256px;
    margin-top: 24px;
}